/*****************************

* First work begins   : 2020. 04. 13  Mon
* Last modified         : 2020. 06. 28  Sun  

작업 기여도 : 100%

===========================

* File          : style.css
* Author    : JongMun
*
* SUMMARY *
*
* 1. scrollBar
* 2. Loading
* 3. Layout
* 4. Utill
* 5. Section1
* 6. Section2
* 7. Section3
* 8. Work 1 ~ 5
* 9. Contact
* 10. Footer
* 11. Media Queries

*****************************/

/* 로딩 */
.progress {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f2f2f;
  z-index: 2300;
  animation: progress 0.5s ease;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 4px solid #f7f6f0;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #f7f6f0;
  animation: loader-inner 2s infinite ease-in;
}
.progress-text {
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 53%;
  width: 100%;
  left: 0;
  text-align: center;
  display: block;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

/* 레이아웃 */
#sec1 {
  position: relative;
  height: 990px;
  padding-top: 132px;
  margin-bottom: 100px;
}
#sec2 {
  height: 1080px;
  padding: 49px 96px 0;
}
#sec3 {
  height: 100%;
  padding-top: 212px;
}
#contact {
  padding: 0 0 180px;
}

/* utill */
#utill {
  z-index: 1000;
}
#utill p {
  font-size: 18px;
  position: fixed;
  top: 15px;
  left: 20px;
  z-index: 1200;
}
#utill p a {
  transition: all 0.4s;
}
#utill p:hover a {
  -webkit-text-stroke: 0.5px #2f2f2f; /* Safari and Chrome */
  -moz-text-stroke: 0.5px #2f2f2f; /* Firefox */
  -ms-text-stroke: 0.5px #2f2f2f; /* IE */
  -o-text-stroke: 0.5px #2f2f2f; /* Opera */
  color: transparent;
  transition: all 0.4s;
}
#utill .top_btn {
  position: fixed;
  top: 20px;
  right: -80px;
  cursor: pointer;
  z-index: 1100;
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: all 0.7s;
}
#utill .top_btn img {
  width: 100%;
  height: 100%;
}
.menu {
  transform: rotate(90deg) translateY(-50%);
  position: fixed;
  top: 50%;
  left: -180px;
  z-index: 1100;
}
.menu ul:after {
  content: "";
  display: block;
  clear: both;
}
.menu li {
  position: relative;
  float: left;
  margin-left: 20px;
  padding-left: 20px;
  transition: all 0.5s ease;
  transform: rotate(180deg);
}
.menu li:after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.menu li:last-child:after {
  display: none;
}
.menu a {
  font-size: 16px;
  color: #b3b3b3;
  letter-spacing: 0.12em;
}
.menu .active a {
  color: #2f2f2f;
}
.m_menu_list {
  display: none;
}
.m_menu_btn {
  display: none;
}

/* sec1 */
#sec1 h1 {
  font-size: 116px;
  position: absolute;
  top: 32%;
  left: 13%;
  /*
    transform:
    translateX(calc(var(--mouse-x) * 0.015px))
    translateY(calc(var(--mouse-y) * 0.008px));
*/
  text-align: center;
  letter-spacing: -0.02em;
  z-index: 1100;
}
#sec1 .sub_title {
  font-size: 27px;
  text-align: left;
  margin-bottom: 10px;
}
#sec1 .sub_wrap {
  display: inline-block;
  padding: 6px 15px 6px 22px;
  background-color: #3f3f3f;
  border-radius: 27px;
  color: #f7f6f0;
  margin-left: 149px;
  transition: all 0.7s;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
#sec1 p {
  transition: all 0.5s;
}
#sec1 p:nth-of-type(2) span:nth-of-type(3) a {
  -webkit-text-stroke: 2px #000; /* Safari and Chrome */
  -moz-text-stroke: 2px #000; /* Firefox */
  -ms-text-stroke: 2px #000; /* IE */
  -o-text-stroke: 2px #000; /* Opera */
  color: transparent;
  font-size: 125px;
  transition: all 0.5s;
}
#sec1 p:nth-of-type(2) span:nth-of-type(3) a:hover {
  -webkit-text-stroke: 0; /* Safari and Chrome */
  -moz-text-stroke: 0; /* Firefox */
  -ms-text-stroke: 0; /* IE */
  -o-text-stroke: 0; /* Opera */
  color: #2f2f2f;
  transition: all 0.5s;
}
#sec1 .line {
  display: inline-block;
  width: 233px;
  height: 3px;
  background-color: #2f2f2f;
  vertical-align: middle;
  margin-bottom: 20px;
}
#sec1 figure {
  text-align: right;
  position: absolute;
  top: 15%;
  right: 15%;
}
/*
#sec1 figure img {
    transform:
    translateX(calc(var(--mouse-x) * -0.015px))
    translateY(calc(var(--mouse-y) * -0.008px));
}
*/

/* sec2 */
#sec2 h3 {
  position: relative;
  font-size: 430px;
  line-height: 430px;
  color: #ffd4a6;
  text-align: right;
  margin-right: 40px;
  letter-spacing: -0.02em;
  /*transform:
    translateX(calc(var(--mouse-x) * 0.015px));
    text-shadow: 5px 5px 10px rgba(0,0,0,0.3);*/
}
#sec2 h3:after {
  content: "001";
  position: absolute;
  right: 930px;
  bottom: -140px;
  font-size: 34px;
  color: #f3eded;
  letter-spacing: 0.001em;
}
.skill_list {
  width: 100%;
  margin-top: 48px;
  font-size: 0;
  text-align: center;
  /*    margin-top: 20px;*/
}
.skill_list li {
  width: 336px;
  height: 336px;
  display: inline-block;
  padding: 38px;
  vertical-align: top;
  transition: all 0.5s 0.2s;
}
.skill_list .txt {
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  border-radius: 50%;
  padding: 15px;
}
.skill_list p:first-child {
  font-size: 50px;
  line-height: 50px;
  padding-top: 42px;
  margin-bottom: 41px;
  letter-spacing: -0.04em;
  transition: all 0.5s 0.2s;
}
.skill_list p:last-child {
  font-size: 0;
  line-height: 70px;
}
.skill_list p:last-child span {
  font-size: 70px;
}
.skill_list .ps p:first-child,
.skill_list .illust p:first-child {
  font-size: 40px;
  line-height: 40px;
  padding-top: 54px;
  transition: all 0.5s 0.2s;
}
.skill_list li:nth-child(2n) .txt {
  background-color: #000;
  color: #f7f6f0;
  transition: all 0.5s 0.2s;
}
.skill_list li:nth-child(2n + 1) {
  margin-top: 102px;
  transition: all 0.5s 0.2s;
}

/* sec3 */
#sec3 h3 {
  position: relative;
  font-size: 420px;
  line-height: 430px;
  color: #ff9da2;
  text-align: left;
  margin: 0 0 313px 115px;
  letter-spacing: -0.07em;
  /*
    transform:
    translateX(calc(var(--mouse-x) * -0.015px));
*/
  /*    text-shadow: 5px 5px 10px rgba(0,0,0,0.1);*/
}
#sec3 h3:after {
  content: "002";
  position: absolute;
  left: 1370px;
  bottom: -140px;
  font-size: 34px;
  color: #f3eded;
  letter-spacing: 0.001em;
}
.proj {
  padding: 0 20px;
}
.proj:after {
  content: "";
  display: block;
  clear: both;
}
.proj > div {
  width: 50%;
  float: left;
  transition: all 0.7s 0.2s;
}
.proj_left {
  padding-left: 180px;
}
.proj_left h4 {
  position: relative;
  font-size: 94px;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  line-height: 112px;
  padding-bottom: 25px;
  padding-right: 20px;
}
.proj_left h4:after {
  font-size: 500px;
  position: absolute;
  letter-spacing: -50px;
  color: #5d5c58;
  z-index: -1;
  opacity: 0.2;
}
.proj_left p {
  font-family: "NanumSquare";
  font-size: 26px;
  line-height: 42px;
  padding-top: 33px;
  letter-spacing: -0.03em;
  border-top: 1px solid #000;
  display: inline-block;
}
.proj_left p .br {
  display: block;
}
.proj_right {
  padding: 52px 96px 0;
}
.proj_right .photo {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.proj_right .photo img {
  width: 100%;
  transition: all 0.4s;
}
.proj_right .txt {
  text-align: right;
  font-size: 22px;
  padding-top: 13px;
  transition: all 0.4s;
}
.proj_right .arrow_btn {
  position: relative;
  bottom: 5px;
  display: inline-block;
  width: 40px;
  height: 9px;
  border-bottom: 1px solid #000;
  margin-left: 10px;
}
.proj_right .arrow_btn:after {
  content: "";
  display: block;
  width: 17px;
  height: 1px;
  background-color: #000;
  transform: rotate(30deg);
  position: absolute;
  right: -0.7px;
  bottom: 3.5px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}
.proj_right a:hover .txt {
  transition: all 0.4s;
  transform: translateX(-20px);
}
.proj_right a:hover .photo img {
  transform: scale(1.1);
  transition: all 0.4s;
}

/* standard */
.standard {
  padding-top: 103px;
  margin-bottom: 469px;
}
.standard h4:after {
  content: "01";
  left: -133px;
  bottom: 167px;
}

/* 캐논 */
.canon {
  position: relative;
  height: 800px;
  padding-top: 173px;
  margin-bottom: 249px;
}
.canon .proj_right {
  padding: 15px 0 0 45px;
}
.canon .proj_right .photo {
  overflow: visible;
}
.canon .proj_right:hover .photo img {
  transform: scale(1.05);
}
.canon .proj_right .txt {
  margin-right: 33px;
  padding: 0;
}
.canon .proj_left {
  padding-left: 134px;
  position: absolute;
  right: 0;
  top: 47%;
  transform: translateY(-48%);
}
.canon .proj_left h4 {
  padding-right: 0;
  padding-bottom: 12px;
  letter-spacing: -0.05em;
}
.canon .proj_left h4 span {
  font-size: 70px;
  text-transform: none;
}
.canon .proj_left h4:after {
  content: "02";
  right: 70px;
  bottom: 157px;
}

/* responsive site */
.responsive {
  height: 782px;
  padding-top: 174px;
  margin-bottom: 245px;
}
.responsive .proj_left {
  padding-top: 6px;
}
.responsive .proj_left h4:after {
  content: "03";
  left: -133px;
  bottom: 167px;
}
.responsive .proj_right {
  padding: 0 4px 0 8px;
}
.responsive .proj_right .photo {
  overflow: visible;
}
.responsive .proj_right:hover .photo img {
  transform: scale(1.05);
}
.responsive .proj_right .txt {
  margin-right: 33px;
  padding: 0;
}

/* CGV */
.cgv {
  position: relative;
  height: 885px;
  padding-top: 160px;
  margin-bottom: 162px;
}
.cgv .proj_left {
  padding-left: 154px;
  position: absolute;
  right: 0;
  top: 48%;
  transform: translateY(-48%);
}
.cgv .proj_left h4 {
  line-height: 100px;
  padding-bottom: 16px;
}
.cgv .proj_left h4:after {
  content: "04";
  right: 84px;
  bottom: 157px;
}
.cgv .proj_left h4 span {
  font-size: 64px;
  text-transform: none;
}
.cgv .proj_right {
  padding: 0 96px 0 96px;
}

/* 오늘의집 */
.todays {
  height: 1267px;
  padding-top: 171px;
}
.todays .proj_left {
  padding-top: 128px;
  padding-left: 178px;
}
.todays .proj_left h4 {
  padding-bottom: 19px;
  text-transform: none;
}
.todays .proj_left h4:after {
  content: "05";
  left: -133px;
  bottom: 167px;
}
.todays .proj_right {
  padding: 0;
}
.todays .proj_right:after {
  content: "";
  display: block;
  clear: both;
}
.todays .proj_right > div {
  width: 50%;
  float: left;
}
.todays .proj_right .main {
  padding: 0 78px 0 29px;
}
.todays .proj_right .sub {
  padding: 0 88px 0 20px;
}
.todays .proj_right .photo {
  overflow: visible;
}
.todays .proj_right .photo img {
  width: 100%;
}
.todays .proj_right:hover .photo img {
  transform: scale(1);
}

/* Contact */
#contact:after {
  content: "";
  display: block;
  clear: both;
}
#contact > div {
  width: 50%;
  float: left;
}
#contact h3 {
  font-size: 290px;
  color: #ffc839a8;
  text-align: right;
  margin-right: 117px;
  letter-spacing: -0.06em;
  margin-bottom: 105px;
  transition: all 0.7s 0.2s;
}
.contact_left {
  padding-left: 250px;
  transition: all 0.7s 0.2s;
}
form {
  transition: all 4s ease-in-out;
}
.form-control {
  width: 650px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000;
  color: #2f2f2f;
  font-size: 30px;
  padding-bottom: 8px;
}
.name {
  margin-bottom: 30px;
}
.email {
  margin-bottom: 30px;
}
textarea.form-control {
  resize: none;
}
.submit {
  background-color: #2f2f2f;
  color: #fff;
  border: none;
  height: 60px;
  line-height: 60px;
  transition: background 0.4s, border 0.5s;
  padding-bottom: 0;
}
form .submit:hover {
  background-color: transparent;
  border: 1px solid #2f2f2f;
  color: #2f2f2f;
  cursor: pointer;
  line-height: 58px;
}
.contact_right {
  text-align: right;
  font-size: 26px;
  padding-right: 149px;
  padding-top: 133px;
  transition: all 0.7s 0.2s;
}
.contact_right p {
  font-family: "NanumSquare";
  line-height: 40px;
}
.contact_right .emj {
  display: inline-block;
  animation: shake 0.8s infinite alternate;
  transform: rotate(10deg);
  transform-origin: 50% 100%;
}
@keyframes shake {
  0 {
    transform: translate(0, 0) rotate(10deg);
  }
  50% {
    transform: translate(0, 0) rotate(-10deg);
  }
  100% {
    transform: translate(0, 0) rotate(10deg);
  }
}
.contact_right > div {
  margin-top: 50px;
  display: inline-block;
}
.contact_right .fa {
  color: #5f5f5f;
}
.contact_right .email_link {
  cursor: pointer;
  color: #5f5f5f;
  transform: translateY(0);
  transform-origin: 50% 100%;
}
.contact_right > div:hover .email_link,
.contact_right > div:hover .fa {
  color: #3e3e3e;
}
.contact_right > div:hover {
  animation: jump 0.5s ease;
}
@keyframes jump {
  0 {
    margin-top: 50px;
  }
  25% {
    margin-top: 52px;
  }
  50% {
    margin-top: 38px;
  }
  75% {
    margin-top: 50px;
  }
  90% {
    margin-top: 48px;
  }
  100% {
    margin-top: 50px;
  }
}

/* footer */
#footer {
  position: relative;
  text-align: center;
  padding: 13px 0;
  color: #b3b3b3;
  font-size: 13px;
  line-height: 30px;
}
.f_icon {
  position: absolute;
  top: -33%;
  width: 100%;
  text-align: center;
  font-size: 25px;
}
.f_icon i {
  padding: 0 4px;
  cursor: pointer;
}
.f_icon a {
  display: inline-block;
  color: #9a9a9a;
}
.f_icon a:hover {
  color: #6a6a6a;
}

/* 미디어쿼리 */
@media screen and (max-width: 1882px) {
  /* sec1 */
  /*
    #sec1 h1 {font-size: 90px;}
    #sec1 h1 p {line-height: 110px;}
*/

  /* sec2 */
  #sec2 {
    padding: 49px 50px 0;
  }
  .skill_list {
    width: 100%;
    padding: 0 50px;
  }
  .skill_list li {
    width: 270px;
    height: 270px;
    padding: 15px;
  }
  .skill_list li:nth-child(2n + 1) {
    margin: 0;
  }
  .skill_list p:first-child {
    font-size: 40px;
    padding-top: 30px;
  }
  .skill_list .ps p:first-child,
  .skill_list .illust p:first-child {
    font-size: 35px;
    padding-top: 32px;
  }
  .skill_list p:last-child span {
    font-size: 60px;
  }
}

/* 태블릿 768px ~ 1499px */
@media screen and (max-width: 1560px) {
  /* utill */
  #utill p {
    font-size: 16px;
    left: 15px;
    top: 10px;
  }
  #utill .top_btn {
    top: 15px;
    right: -115px;
    width: 35px;
    height: 35px;
  }
  .menu {
    top: 36%;
    left: -185px;
  }
  .menu a {
    font-size: 16px;
  }

  /* sec1 */
  #sec1 {
    padding: 0 15px;
    height: 762px;
    margin: 0;
  }
  #sec1 h1 {
    font-size: 70px;
    top: 31%;
    left: 9%;
  }
  #sec1 h1 p {
    line-height: 90px;
  }
  #sec1 .sub_title {
    margin-bottom: 5px;
  }
  #sec1 .sub_wrap {
    font-size: 20px;
    margin-left: 46px;
  }
  #sec1 .line {
    width: 63px;
    height: 2px;
  }
  #sec1 p:nth-of-type(2) span:nth-of-type(3) a {
    font-size: 70px;
  }
  #sec1 figure {
    width: 278px;
    height: 379px;
    top: 21%;
    right: 9%;
  }
  #sec1 figure img {
    width: 100%;
  }

  /* sec2 */
  #sec2 {
    height: 1010px;
    padding: 65px 13px 0;
  }
  #sec2 h3 {
    font-size: 230px;
    margin: 0 15px 0 0;
    line-height: 230px;
  }
  #sec2 h3:after {
    right: 502px;
    bottom: -70px;
    font-size: 26px;
  }
  .skill_list {
    width: 100%;
    padding: 0 20px;
    margin-top: 60px;
  }
  .skill_list li {
    width: 220px;
    height: 220px;
    padding: 15px;
  }
  .skill_list .txt {
    padding: 10px;
  }
  .skill_list p:first-child {
    font-size: 32px;
    padding-top: 26px;
    margin-bottom: 10px;
  }
  .skill_list .ps p:first-child,
  .skill_list .illust p:first-child {
    font-size: 28px;
    padding-top: 34px;
  }
  .skill_list p:last-child span {
    font-size: 50px;
  }

  /* sec3 */
  #sec3 {
    padding-top: 50px;
  }
  #sec3 h3 {
    font-size: 180px;
    margin: 0 0 236px 60px;
    line-height: 220px;
  }
  #sec3 h3:after {
    left: 589px;
    bottom: -53px;
    font-size: 26px;
  }
  .proj {
    padding: 0 15px;
    margin-bottom: 270px;
  }
  .proj > div {
    width: 100%;
  }
  .proj_left {
    padding-left: 132px;
  }
  .proj_left h4 {
    font-size: 60px;
    line-height: 70px;
    padding-bottom: 15px;
  }
  .proj_left h4:after {
    font-size: 324px;
    left: -105px;
    bottom: 100px;
    letter-spacing: -37px;
  }
  .proj_left p {
    font-size: 22px;
    line-height: 36px;
    padding-top: 22px;
  }

  /* standard */
  .standard {
    padding-top: 0;
  }

  /* canon */
  .canon {
    height: auto;
    padding-top: 173px;
    margin-bottom: 219px;
  }
  .canon .proj_left {
    position: static;
    padding-left: 132px;
    transform: none;
  }
  .canon .proj_left h4 span {
    font-size: 40px;
  }
  .canon .proj_left h4:after {
    bottom: 110px;
  }
  .canon .proj_right {
    padding: 70px 34px 0 38px;
  }
  .canon .proj_right:hover .photo img {
    transform: none;
  }

  /* responsive */
  .responsive {
    height: auto;
    padding-top: 174px;
    margin-bottom: 312px;
  }
  .responsive .proj_right {
    padding: 70px 34px 0 38px;
  }
  .responsive .proj_right:hover .photo img {
    transform: none;
  }
  .responsive .proj_left h4:after {
    left: -96px;
    bottom: 108px;
  }

  /* cgv */
  .cgv {
    height: auto;
    padding-top: 160px;
    margin-bottom: 247px;
  }
  .cgv .proj_left {
    position: static;
    padding-left: 131px;
    transform: none;
  }
  .cgv .proj_right {
    padding: 52px 96px 0;
  }
  .cgv .proj_left h4 {
    line-height: 60px;
  }
  .cgv .proj_left h4 span {
    font-size: 40px;
  }
  .cgv .proj_left h4:after {
    bottom: 114px;
    left: -93px;
  }

  /* todays */
  .todays {
    height: auto;
    margin-bottom: 170px;
    padding-top: 171px;
  }
  .todays .proj_left {
    padding-top: 0;
    padding-left: 117px;
    margin-bottom: 78px;
  }
  .todays .proj_right .main {
    padding: 0 14px 0 40px;
  }
  .todays .proj_right .sub {
    padding: 0 29px 0 26px;
  }
  .todays .proj_left h4:after {
    left: -78px;
    bottom: 113px;
  }

  /* contact */
  #contact {
    position: relative;
    padding: 80px 15px 135px;
  }
  #contact h3 {
    font-size: 140px;
    margin-right: 17px;
    margin-bottom: 87px;
  }
  #contact > div {
    width: 100%;
  }
  .contact_left {
    padding: 199px 43px 0;
  }
  .contact_right {
    position: absolute;
    left: 0;
    top: 32%;
    padding: 0;
    text-align: center;
    font-size: 20px;
    transition: all 0.7s 0.2s;
  }
  .contact_right p {
    line-height: 26px;
  }
  .contact_right .email_link {
    font-size: 18px;
  }
  .contact_right > div {
    margin-top: 20px;
  }
  .form-control {
    font-size: 26px;
    width: 100%;
  }

  /* footer */
  .f_icon {
    font-size: 24px;
  }
}

/* 모바일 360px ~ 767px */
@media screen and (max-width: 767px) {
  /* utill */
  #utill p {
    font-size: 14px;
  }
  .menu {
    display: none;
  }
  .top_btn {
    display: none;
  }
  .m_menu_btn {
    position: fixed;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    z-index: 1100;
    cursor: pointer;
    padding: 10px;
    display: block;
  }
  .m_menu_btn img {
    width: 100%;
  }
  .m_menu_list {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #3f3f3f;
    z-index: 1500;
    display: none;
  }
  .m_menu_list ul {
    margin-left: -30px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
  }
  .m_menu_list li {
    position: relative;
    font-size: 40px;
    line-height: 40px;
    margin: 30px 0;
  }
  .m_menu_list li a {
    color: #f7f6f0;
  }
  .m_menu_list .active2 a {
    -webkit-text-stroke: 0.25px #f7f6f0; /* Safari and Chrome */
    -moz-text-stroke: 0.25px #f7f6f0; /* Firefox */
    -ms-text-stroke: 0.25px #f7f6f0; /* IE */
    -o-text-stroke: 0.25px #f7f6f0; /* Opera */
    color: transparent;
    padding-left: 13%;
  }
  .m_menu_list .active2 a:after {
    content: "";
    position: absolute;
    bottom: 5%;
    left: 4px;
    z-index: 1000;
    background-color: #ff7777;
    width: 3px;
    height: 92%;
    transform-origin: 0 100%;
    transform: rotate(5deg);
    opacity: 0.8;
  }
  .close_btn {
    width: 43px;
    height: 43px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1600;
    padding: 10px;
    transform: rotate(0) scale(0);
    cursor: pointer;
    transition: all 0.5s;
    opacity: 0;
  }
  .close_btn span {
    display: inline-block;
    height: 2px;
    width: 31px;
    background: #fff;
    transform-origin: 0 0;
    transform: rotate(45deg);
    border-radius: 1px;
  }
  .close_btn .line2 {
    display: inline-block;
    position: absolute;
    left: 10px;
    bottom: 10px;
    height: 2px;
    width: 31px;
    background: #fff;
    transform-origin: 0 100%;
    transform: rotate(-45deg);
  }
  .close_btn.active3 {
    transform: rotate(180deg) scale(1);
    opacity: 1;
    transition: all 0.5s;
  }

  /* sec1 */
  #sec1 {
    height: 520px;
  }
  #sec1 figure {
    display: none;
  }
  #sec1 h1 {
    font-size: 36px;
    width: 100%;
    left: 0;
    top: 44%;
    transform: none;
  }
  #sec1 .sub_title {
    text-align: center;
  }
  #sec1 .sub_wrap {
    font-size: 14px;
    margin-left: 0;
    padding: 4px 11px;
  }
  #sec1 h1 p {
    line-height: 52px;
  }
  #sec1 p:nth-of-type(2) span:nth-of-type(3) a {
    font-size: 36px;
    -webkit-text-stroke: 1px #3f3f3f; /* Safari and Chrome */
    -moz-text-stroke: 1px #3f3f3f; /* Firefox */
    -ms-text-stroke: 1px #3f3f3f; /* IE */
    -o-text-stroke: 1px #3f3f3f; /* Opera */
  }
  #sec1 .line {
    margin-bottom: 7px;
  }

  /* sec2 */
  #sec2 {
    margin-bottom: 82px;
  }
  #sec2 h3 {
    font-size: 110px;
    line-height: 110px;
  }
  .skill_list {
    text-align: left;
    padding: 0;
  }
  .skill_list .txt {
    text-align: center;
    padding: 5px;
  }
  .skill_list li {
    width: 181px;
    height: 181px;
    display: block;
  }
  .skill_list p:first-child {
    font-size: 30px;
    padding-top: 32px;
    line-height: 26px;
    margin-bottom: 22px;
  }
  .skill_list p:last-child {
    line-height: 40px;
  }
  .skill_list p:last-child span {
    font-size: 38px;
  }
  .skill_list .ps p:first-child,
  .skill_list .illust p:first-child {
    font-size: 23px;
    padding-top: 28px;
    line-height: 29px;
  }
  .skill_list li:nth-child(2n) {
    margin-left: auto;
  }
  .skill_list li:nth-child(n + 2) {
    margin-top: -60px;
  }
  .skill_list li:last-child p:first-child {
    padding-top: 32px;
    margin-bottom: 24px;
  }
  #sec2 h3:after {
    display: none;
  }

  /* sec3 */
  #sec3 h3 {
    font-size: 90px;
    line-height: 80px;
    margin: 0 0 140px 10px;
  }
  #sec3 h3:after {
    display: none;
  }
  .proj {
    margin-bottom: 40px;
  }
  .proj_left {
    padding-left: 27px;
  }
  .proj_left p {
    display: none;
  }
  .proj_left h4 {
    font-size: 42px;
    line-height: 56px;
    padding-bottom: 21px;
  }
  .proj_left h4:after {
    font-size: 20px;
    left: -44px;
    bottom: 12px;
    display: none;
  }
  .proj_right {
    padding: 0;
  }
  .proj_right .txt {
    font-size: 18px;
  }
  .proj_right .arrow_btn {
    width: 30px;
  }
  .proj_right .arrow_btn:after {
    width: 12px;
    bottom: 1.8px;
  }

  /* canon */
  .canon {
    padding-top: 107px;
  }
  .canon .proj_left {
    margin-bottom: 21px;
    padding-left: 23px;
  }
  .canon .proj_left h4 {
    line-height: 42px;
  }
  .canon .proj_left h4 span {
    font-size: 28px;
  }
  .canon .proj_right {
    padding: 0;
  }
  .canon .proj_right .txt {
    margin-right: 12px;
  }

  /* responsive */
  .responsive {
    padding-top: 109px;
  }
  .responsive .proj_left {
    padding-top: 0;
    margin-bottom: 11px;
  }
  .responsive .proj_left h4 {
    font-size: 38px;
  }
  .responsive .proj_left h4:after {
    bottom: 15px;
  }
  .responsive .proj_right {
    padding: 0;
  }
  .responsive .proj_right .txt {
    margin-right: 12px;
  }

  /* cgv */
  .cgv {
    padding-top: 122px;
  }
  .cgv .proj_left {
    padding-left: 27px;
  }
  .cgv .proj_right {
    padding: 0;
  }
  .cgv .proj_left h4 span {
    font-size: 28px;
  }

  /* todays */
  .todays {
    padding-top: 97px;
    margin-bottom: 130px;
  }
  .todays .proj_left {
    padding-left: 38px;
    margin-bottom: 21px;
  }
  .todays .proj_right .main {
    padding: 0 7px 0 8px;
  }
  .todays .proj_right .sub {
    padding: 0 7px 0 8px;
  }

  /* contact */
  #contact {
    padding-bottom: 112px;
  }
  #contact h3 {
    font-size: 78px;
    margin-right: 0;
  }
  .contact_right {
    display: none;
  }
  .contact_left {
    padding: 0;
  }
  .form-control {
    font-size: 16px;
  }
  .name {
    margin-bottom: 22px;
  }
  .email {
    margin-bottom: 22px;
  }
  .submit {
    height: 47px;
    line-height: 47px;
  }
  form .submit:hover {
    line-height: 45px;
  }

  /* footer */
  .f_icon {
    font-size: 22px;
  }
  .f_icon i {
    padding: 0 2px;
  }
  .f_icon a {
    padding: 3px;
  }
}
